:root {
	--main-color: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
}

body {
	font-family: 'Rubik', sans-serif;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10px;
}
.navigation {
	display: flex;
	justify-content: space-between;
}