/* .block {
    min-width: 1000px;
    height: 200px;
    margin: 5px;
    background-color: red;
}
.block1 {
    background-color: green;
    max-width: 1000px;
    height: 200px;
}

@media screen and (max-width: 400px){
    .block {
        background-color: blue;
    }
} */

.grid {
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	/* grid-template-rows: 1fr; */
	/* grid-auto-rows: 200px; */
	/* column-gap: 40px;
    row-gap: 15px; */
	gap: 15px 40px;
	grid-template-areas:
		'menu header header header'
		'menu main main article';
}

.grid-child {
	/* width: 100px; */
	background-color: blue;
	/* margin: 20px; */
	padding: 30px;
	color: white;
	text-align: center;
	font-size: 20px;
}

.grid-child:first-child {
	grid-area: header;
	/* grid-column-start: 1;
    grid-column-end: 5; */
	/* grid-column: 2/-1; */
}

.grid-child:nth-child(2) {
	grid-area: menu;
	/* grid-row: 1/3;
    grid-column: 1; */
}
.grid-child:nth-child(3) {
	grid-area: main;
	/* grid-column-start: 2;
    grid-column-end: 4; */
	/* grid-column: 2/4; */
}
.grid-child:nth-child(4) {
	grid-area: article;
}

.grid-child2 {
	background-color: red;
}

.grid-child2 {
	background-color: green;
}