
.max-width {
	max-width: 800px;
	padding: 1rem;
	display: flex;
	margin: 100px auto;
	background-color: orange;
	font-size: 16px;
}
.min-width {
	min-width: 800px;
	padding: 1rem;
	display: flex;
	margin: 100px auto;
	background-color: orange;
	/* font-size: 16px; */
}
/* 1rem = 32px */
/* 1em = 16px */
html {
	font-size: 32px;
}
h1 {
	font-size: 2em;
	margin-right: 30px;
}

p {
	font-size: 1em;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 22px;
	}
	.max-width {
		flex-wrap: wrap;
	}
}
@media (max-width: 320px) {
	html {
		font-size: 12px;
	}

	/* .max-width {
		background-color: red;
	} */
}